.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282828;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(251, 251, 251);
  height: 150px;
}

.subtitle {
  color: #787575;
}

.title {
  color: #e8e8e8;
  margin-bottom: 0px;
}